{
  "extends": "dave",
  "rules": {
    "@typescript-eslint/consistent-type-imports": [
      "error",
      {
        "prefer": "no-type-imports",
        "disallowTypeAnnotations": false
      }
    ],
    "new-cap": "off",
    "no-empty-pattern": "off",
    "require-atomic-updates": "off"
  }
}
