body > theme-root {
  --on-bg: 250, 232, 255 !important;
  background-color: rgba(0, 0, 0, 0.3);
  user-select: none;
}
layout-fill {
  display: flex;
  justify-content: center;
  align-items: center;
}

input-button {
  display: flex;

  & > button {
    flex: 1;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
